
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40%;
		margin: 0;
		padding: 0;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        overflow: auto;
        margin: 0;
        padding: 0;
      }

	/*  #alertbox, #error, #menu, #settings, #main2{
		  margin: 0 !important;
		  padding: 0 !important;
	  }
	  */

	
	
	  /*
	  *	override some ootstrap style
	  */
	  
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*
menu elements' align
*/

.navbar-header {
    float: none;
    text-align: center;
    width: 100%;
}

.navbar-brand {
	float: none;
	height: 100% !important;
}

.floatcenter {
     display: inline-block;
     width: 20%;
     height: 100%;
//    float: left;
     margin-left: 3px;
}

.floatleft {
	float: left;
    margin: auto;
}

.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}



//custom button

/* This would be for the danger button... */
.navbar-inverse >.navbar-header>button.btn-danger:hover {
    background-color: #ffffff;
}

/* ...and this one for the success button */
.navbar-inverse .navbar-nav>li>a.btn-success:hover {
    background-color: #5cb85c;
}


//Custom listcheckboxgroup, used in the placetypes modal
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


/*
Tabs above listing the found places, events, people, etc
*/

.listing-tab{
    padding:0;    
}

.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none; }
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none; }
.listing-tab .nav-tabs>li>a:hover{border-color:none; color:white;}
.listing-tab .nav-tabs>li>a{border:0;padding:17px 0 7px; color: lightgreen; margin-left:15px;}
.listing-tab .nav-tabs>li.active>a{border-bottom:2px solid green; color: white;}
.listing-tab{background-color:#000;}

/* listing-tab can be toogle to fullscreen mode */
	  
	#listing-tab{
		background: black;
		height: 45%;
		overflow-y: scroll;
	}
	
	/*toogle the placeList to fullscreen mode */
	#listing-tab.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }
	















