

/* The navbar is 50pxx height */
#fullpage{height: calc(100% - 53px);}  

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        
position: relative;
height: 40%;


		margin: 0;
		padding: 0;
      }
	  
      /* Optional: Makes the sample page fill the window. */
      html, body {
		background-color: black;
        height: 100%;
        overflow: auto;
        margin: 0;
        padding: 0;
      }

	  
		
/*
Arrow bubble marker pin
*/



#marker {
    position: absolute;
	border-color: #4267b2;
	border-radius: 15px;
	border-style: solid;
	border-width: 10px;
	cursor: pointer;
	width: 100px;
	height: 100px;
}

.image_container	{
		width: 100%;
		height: 100%;
		top: 0px;
		position: absolute;
		}
	
.marker_image	{
		width: 100%;
		height: 100%;
		top: 0px;
		position: relative;
		}

.large	{
		width: 300px;
		height: 300px;
		}

.triangle {
	margin: -10px !important;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 12px 0px 12px;
    top: 100px;
    left: 38px;
    border-color: #4267b2 transparent transparent transparent;
}

.exit    {
        position: absolute;
    	width: 30px;
		height: 30px;
        top: 10px;
		left: 260px;
        z-index: 1100;
}

.exit_image	{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 10px;
		left: 260px;
		z-index: 1100;
		display: none;
		}


/*
End of Arrow bubble marker pin

*/		  
	  
/*
End of map css
*/	  
	  
	  
	  
	/*  #alertbox, #error, #menu, #settings, #main2{
		  margin: 0 !important;
		  padding: 0 !important;
	  }
	  */
#menu, .navbar{
	padding: 0;
	margin: 0;
}
.navbar{
	/* the navbar is 50 px height */
}
	
	
	  /*
	  *	override some ootstrap style
	  */
	  
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*
menu elements' align
*/

.navbar-header {
    float: none;
    text-align: center;
    width: 100%;
}

.navbar-brand {
	float: none;
	height: 100% !important;
}

.floatcenter {
     display: inline-block;
     width: 20%;
     height: 100%;
//    float: left;
     margin-left: 3px;
}

.floatleft {
	float: left;
    margin: auto;
}

.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}



//custom button

/* This would be for the danger button... */
.navbar-inverse >.navbar-header>button.btn-danger:hover {
    background-color: #ffffff;
}

/* ...and this one for the success button */
.navbar-inverse .navbar-nav>li>a.btn-success:hover {
    background-color: #5cb85c;
}


//Custom listcheckboxgroup, used in the placetypes modal
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


/*
Tabs above listing the found places, events, people, etc
*/

.listing-tab{
    padding:0; margin: 0;   
}

.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none; }
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none; }
.listing-tab .nav-tabs>li>a:hover{border-bottom:2px solid green; color:white;}
.listing-tab .nav-tabs>li>a{border:0;padding:5px 0 5px; color: lightgreen; margin-left:15px;}
.listing-tab .nav-tabs>li.active>a{border-bottom:2px solid lightgreen; color: white;}
.listing-tab{background-color:#000;}


/*
listing-tab with horizontal scrollable arrow icon
*/

.listing-tab .nav-tabs2>li,.nav-tabs2>li a:hover{margin-bottom:0;background:none; }
.listing-tab .nav-tabs2>li.active>a, .nav-tabs2>li.active>a:hover, .nav-tabs2>li.active>a:focus{border:none;background:none; }
.listing-tab .nav-tabs2>li>a:hover{border-bottom:2px solid green; color:white;}

.listing-tab .nav-tabs2>li>a{border:0;padding:7px 0 0px; color: lightgreen; margin-left:15px;} 

.listing-tab .nav-tabs2>li.active>a{border-bottom:2px solid lightgreen; color: white;}
.listing-tab{background-color:#000;}


.menu-wrapper {	padding: 0px; margin: 0px;
border-bottom:2px solid lightgreen;

  height: 33px;  
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.menu {
		padding: 0px; margin: 0px;

  white-space: nowrap; 
  overflow-x: auto;
  overflow-y: hidden; 
  -webkit-overflow-scrolling: touch;
}
.menu .item {
	text-align: center;
    vertical-align: text-top;

  /*  border: 1px solid red;  */
	padding: 0px !important; margin: 0px !important;
  display: inline-block;
  width: 100px;
  height: 30px !important; 

		  }

.paddle {
	height: 33px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}

/* listing-tab can be toogle to fullscreen mode */
	  
	#listing-tab{
		margin: 0;
		padding: 0;
		float: right;
		width: 100%;
		background: black;
		
		position: relative;
		height: 60% !important;

		overflow-y: none;
	}
	
	/*toogle the placeList to fullscreen mode */
	#listing-tab.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

 
 #myTabs{border-bottom: 1px solid lightgreen !important; height: 33px;}

	#tab-content{
		/* .tabpane, #placeList */
		width: 100%;		
		/*
		The listing_tab_header is 10 px height + 10 px padding (on bottom and on top) + 2px bottom border
		but with 100%-30px there will be a body scrollbar on the page
		*/		
		/* Firefox */
		height: -moz-calc(100% - 33px);
		/* WebKit */
		height: -webkit-calc(100% - 33px);
		/* Opera */
		height: -o-calc(100% - 33px);
		/* Standard */
		height: calc(100% - 33px);
		overflow-y: auto;
		margin: 0;
		padding: 0;
		 
	}

	#tab-content.fullscreen{
	
		/* , .tabpane, #placeList */
		/*width: 100%;		
		height: 80%;
		border: 10px solid red;
		}
		overflow: scroll;
		*/
		
    z-index: 9999; 
    width: 100%; 
    height: calc(100%-33px); 
    position: fixed; 
    top: 10%; 
    left: 0; 
	
	}	

/*
 5% --> navbar
40% --> map
55% --> listing-tab
	5% --> listing-tab-header
	95% --> .tab-content, .tabpane, #placeList
*/




/*
turns a number into stars
*/
/*  background: url('../img/stars.png') 0 -16px repeat-x;  */

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}









/*
Event-list-group
*/

 
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 1px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 36pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 10pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
	/*	width: 100%; */
		
			display: inline-block; 
			
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 12pt;
		font-weight: 500;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 10pt;
		font-weight: 300;
		margin: 0px;
		padding-bottom: 20px; /*edited version, padding for the bottom icons  */
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	
	@media (min-width: 300px) {
	
		.mystarrating{
			background-color: green !important;
			position: absolute;
			bottom: 0px;
			left: 0px;;
			}

	
		.mystarratingvalue{
			color: white; 
			background-color: green; 
			position: absolute;
			bottom: 0px;
			left: 80px; 
			width: 40px;
			height: 16px;
			text-align: right;
		}
		
		
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			/*height: 90px; */
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > .thumb  {
			display: inline-block; 
		}
		.event-list > li > time,
		.event-list > li > .thumb {
			/*width: 90px;*/
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > .thumb {
			/*width: 90px;
			height: 90px; */
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
		/*	height: 90px; */
			height: 120px;
			text-align: left;
			/*padding-right: 40px;*/
			padding-right: 10px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
    
	} /* media min 400px */
	
/*
End of Event-list
*/



/*
listPlaces css
*/
 .space-ten{padding: 10px 0;}

.thumbnail2 {
  position: relative;
  width: -500px;
  height: 200px;
  overflow: hidden;
}
.thumbnail2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail2 img.portrait {
  width: 100%;
  height: auto;
}
.thumbnail{
    height: 400px;
    overflow: hidden;
	}  
	
/*
Facebook profilepicture in the navbar top-right,
*/
.account{
	//float: right;
	padding-top: 10px;
}	